/*comments*/
h1,h1,p {
	text-align: center; 
	color: red;
}
ul {
	list-style-type: square;
}
ol {
	list-style-image: url("../img/ok.png");
}
.block {
	width: 400px;
	height: 400px;
	background: #85e9a9;
	padding-left: 20px;
	margin-left: 60px;
	border: 10px solid red;
}


.name {
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	
.password {
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
}

.name input {
	padding: 7px; 
	border: solid 1px #9d9b9b; 
	outline: 0; 
	width: 200px; 
	background: #FFFFFF; 
	clear:both; 
	text-align:right;
}
.form {
	width: 400px;
	margin: 0 auto;
	background: #e5e5e5;
	padding: 20px;
}

.firstitem {
	color: #007db6;
	text-decoration: none;
}

.reletiv {
	position: relative;
	background: #FFFFFF;
}
.child {
	position: absolute;
	left: 10px;
	top: 30px;
}

/*FOOTER*/
.footer {
	width: 100%; 
	height: 150px; 
	background: #030303; 
	position: relative;
}
.whiteline {
	height: 20px;
	background: #fcfcfc;
}
.grayline {
	height: 10px;
	background: #007db6;
}
.socseti {
	
}
.socseti .twitter {
	width: 40px; 
	height: 40px;
	position: relative;
	left: 30px;
	top: 30px;
	background: url("../img/Round Social Icons.png") 0px 0px no-repeat;
}
.socseti .facebook {
	width: 40px; 
	height: 40px;
	position: relative;
	left: 50px;
	top: 30px;
	
}
.socseti .vk {
	width: 40px; 
	height: 40px;
	position: relative;
	left: 70px;
	top: 30px;
	
}
.footer p {
	color: #fcfcfc;
	position: relative;
	top: 30px;
	text-align: center;
	font-size: 13px; 
}
.anchors {
	position: absolute;
	top: 70px;
	right: 30px;
}
.anchors a {
	padding: 10px;
}
a:link {
	color: #35e9d6;   /*ЗЕЛЕНЫЙ*/
	text-decoration: none;
}
 a:active {
	color: #616267;  /*СЕРЫЙ*/
	text-decoration: none;
}
 a:visited {
	color: #007db6;    /*СИНИЙ*/
	text-decoration: none;
}
a:hover {
    color:#c318b9;   /*РОЗОВЫЙ*/
    text-decoration: underline;
	font-size: 18px;
}
/*FOOTER*/

.asdf {
	opacity: 0.2;
	background: #c318b9;
	width: 100%; 
	height: 300px;
}

	