$bg_nav: black;
$bg_cnt: #ffffff;
$border: 1px solid lighten(gray,40%);
$bd_radius: 5px;
$bg_aside: #f5f5f5;
$bg_header: #f5f5f5;
$bg_footer: black;
$bg_input_more: #0c4fc9;
$margin: 25px;
$padding: 30px;

$f_size: 15px;
$font_family: Arial, sans-serif;
$transition: all 0.3s ease-in-out;
@mixin linx ($link, $visit, $hover, $active) {
	a {
		color: $link;
		text-decoration: none;
		transition: $transition;
		&:visited {
			color: $visit;
			text-decoration: none;
		}
		&:hover {
			color: $hover;
			text-decoration: none;
		}
		&:active {
			color: $active;
			text-decoration: none;
		}
	}
}
@mixin input ($height, $width, $bg, $liten) {
	height: $height;
	width: $width;
	background: linear-gradient(to top, $bg, $liten);
	border: 1px solid lighten(blue,40%);
	border-radius: $bd_radius; 
}
html {
	height: 100%;
	width: 82%;
	margin: 0 auto;
	
}
body {
	height: inherit;
	width: inherit;
}
nav {
	height: 5%;
	background: $bg_nav;
	@include linx(#eeeeee, #eeeeee, #ffffff, red);
	a{
		line-height: 42px;
		margin-left: $margin;
	}
	.loggetIn {
		float: right;
		margin-right: $margin;
	}	
}
.cnt {
	background: $bg_cnt;
	border: $border;
	height: 85%;
	position: relative;
}
aside {
	background: $bg_aside;
	width: 250px;
	border: $border;
	border-radius: $bd_radius;
	margin-left: $margin;
	margin-top: $margin;
	font: $f_size $font_family;
	ul {
		padding: 0px;
		list-style: none;
		.sidebar {
			padding-top: 5px;
			padding-bottom: 5px;
			padding-left: 40px;
		}
		@include linx(blue, black, white, red);
		a:hover {
			background: lighten(#0c52c9,30%);
		}
		a {
			display: block;
			padding-left: 40px;
			padding-top: 2px;
			padding-bottom: 2px;
		}
	}
}
header {
	background: $bg_header;
	height: 200px;
	width: 66.5%;
	position: absolute;
	right: $margin;
	top: $margin;
	border: $border;
	border-radius: $bd_radius;
	font: $f_size $font_family;
	padding: $padding + 20;
	h1 {
		font: bold $f_size + 30 $font_family;
	}
	.more {
		@include input(30px, 100px, #0c52c9, #81aaf1);
		color: white;
	}
}

section {
	display: inline-block;
	margin-top: -80px;
	width: 290px;
	margin-right: $margin;
	font: $f_size $font_family;
	h2 {
		font: bold $f_size + 10 $font_family;
		margin-bottom: -7px;
	}
	.details {
		@include input(25px, 100px, #b8b8b9, #e0e0e4);
	}
}
.first {
	
	margin-left: 300px;	
}

footer {
	height: 10%;
	background: $bg_footer;
	
}