/* line 41, ../sass/style.scss */
html {
  height: 100%;
  width: 100%;
}

/* line 46, ../sass/style.scss */
body {
  height: inherit;
  width: inherit;
}

/* line 50, ../sass/style.scss */
nav {
  height: 5%;
  background: black;
}
/* line 16, ../sass/style.scss */
nav a {
  color: #eeeeee;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
/* line 20, ../sass/style.scss */
nav a:visited {
  color: #eeeeee;
  text-decoration: none;
}
/* line 24, ../sass/style.scss */
nav a:hover {
  color: #ffffff;
  text-decoration: none;
}
/* line 28, ../sass/style.scss */
nav a:active {
  color: red;
  text-decoration: none;
}
/* line 54, ../sass/style.scss */
nav a {
  line-height: 42px;
  margin-left: 25px;
}
/* line 58, ../sass/style.scss */
nav .loggetIn {
  float: right;
  margin-right: 25px;
}

/* line 63, ../sass/style.scss */
.cnt {
  background: #ffffff;
  border: 1px solid #e6e6e6;
  height: 85%;
  position: relative;
}

/* line 69, ../sass/style.scss */
aside {
  background: #f5f5f5;
  width: 250px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-left: 25px;
  margin-top: 25px;
  font: 15px Arial, sans-serif;
}
/* line 77, ../sass/style.scss */
aside ul {
  padding: 0px;
  list-style: none;
}
/* line 80, ../sass/style.scss */
aside ul .sidebar {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
}
/* line 16, ../sass/style.scss */
aside ul a {
  color: blue;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
/* line 20, ../sass/style.scss */
aside ul a:visited {
  color: black;
  text-decoration: none;
}
/* line 24, ../sass/style.scss */
aside ul a:hover {
  color: white;
  text-decoration: none;
}
/* line 28, ../sass/style.scss */
aside ul a:active {
  color: red;
  text-decoration: none;
}
/* line 86, ../sass/style.scss */
aside ul a:hover {
  background: #77a6f7;
}
/* line 89, ../sass/style.scss */
aside ul a {
  display: block;
  padding-left: 40px;
  padding-top: 2px;
  padding-bottom: 2px;
}

/* line 97, ../sass/style.scss */
header {
  background: #f5f5f5;
  height: 200px;
  width: 835px;
  position: absolute;
  right: 25px;
  top: 25px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  font: 15px Arial, sans-serif;
  padding: 50px;
}
/* line 108, ../sass/style.scss */
header h1 {
  font: bold 45px Arial, sans-serif;
}
/* line 111, ../sass/style.scss */
header .more {
  height: 30px;
  width: 100px;
  background: linear-gradient(to top, #0c52c9, #81aaf1);
  border: 1px solid #ccccff;
  border-radius: 5px;
  color: white;
}

/* line 117, ../sass/style.scss */
section {
  display: inline-block;
  margin-top: -80px;
  width: 290px;
  margin-right: 25px;
  font: 15px Arial, sans-serif;
}
/* line 123, ../sass/style.scss */
section h2 {
  font: bold 25px Arial, sans-serif;
  margin-bottom: -7px;
}
/* line 127, ../sass/style.scss */
section .details {
  height: 25px;
  width: 100px;
  background: linear-gradient(to top, #b8b8b9, #e0e0e4);
  border: 1px solid #ccccff;
  border-radius: 5px;
}

/* line 131, ../sass/style.scss */
.first {
  margin-left: 300px;
}

/* line 136, ../sass/style.scss */
footer {
  height: 10%;
  background: black;
}
